<div>

    <div ng-repeat="doctor in doctors">	
  
        <div>Doctor: {{doctor.firstname}} {{doctor.lastname}}</div> 
          
        <div>Speciality: {{doctor.specialty}}</div> 
          
        <a ng href="#!/patients.html">Click to view Dr. {{doctor.lastname}}'s patients</div>
        <br>
   	</div>
</div>

<!--  <li ng-show="isLoggedIn"><a ng-href="#!/items/new">New Item</a></li> -->

<!-- $scope.title = "Edit Item"; -->

 <!-- <div ng-show="doctorName"><a ng-href="#!/doctors {{doctor.firstname}} {{doctor.lastname}}">Dr. </div> -->